@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.title {
    color: green;
}

.nav {
    display: flex;

    justify-content: space-between;
    align-items: center;

}

.list {
    display: inline;
   padding-right: 3.6rem;
}

.link {
    text-decoration: none;
    color: black;
 font-size: 13px;
}
.landing_section{
    text-align: center;
    padding:15rem;
    background-image: url('../images/ri.jpeg.jpg');
    background-size: cover;
}
.content_subheading{
    color: green;
}
.btn_primary{
    border-radius: 10px;
    background-color: green;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
}
.video_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.highlighted_text{
    color: green;
}
.video_frame{
    padding:44px ;
}
.section_t{
    display: flex;
}
.oz{
    
    padding-top: 33px;
    
    
    margin-left: 53px;
  }

.text{
    color: green;
}
.img img{
    height:335px
}
.h5{
    
    width: 174px;
}
.browse{
    padding-top: 10px;
margin-bottom: -26px;
}
.how_work{
    font-style: inherit;
}
